ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    display: inline;
    padding-left: 50px;
    font-size: 30px;

  }
  header{
      padding-bottom: 50px;
  }
  h1{
      text-align: center;
  }